html {
  height: 100%;
  box-sizing: border-box;
}
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

nav{
  position: absolute;
  background-color: #31312f;
  background-size: cover;
  width: 100%
}

ul{
  display:flex;
  justify-content: center;
  color:white;
  text-decoration: none;
  padding: 0 auto;
}

nav>ul>li>a{
color: white;
text-decoration: none;
font-weight: bold;
text-transform: uppercase;
}


.nav-item{
  display: inline-block;
  padding: 0 200px;
  width: 110px;
  font-size: 14px;
  line-height: 3;
  font-weight: 400;
  font-family: sans-serif;
  color: white;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
}

header{
  position: ;
  background-color: red;
  height: 400px
}

.page-header{
  background-image: url("../img/header-img.jpg");
  background-size: cover;
  background-position: top;
}

.header-content {
  position: relative;
  top: 100px;
  margin: 0 auto;
  width: 800px;
  padding: 10px;
  text-align: center;
  color: #333333;
}

.main-heading{
  display: flex;
  font-family: 'Josefin Sans';
  justify-content: center;
  position: absolute;
  font-size: 100px;
  left: 300px;
  top: -39px;

}

.sub-heading{
  display: flex;
  font-family: 'Dancing Script';
  justify-content: center;
  position: absolute;
  text-shadow:  10px 10px 5px #888888;
  font-size: 58px;
  left: 160px;
  top: 49px;
  color: white;
}

main{
  display:flex;
  background-color: #fdfeec;
  background-size: 108px 400px;
  margin: -50px 110px;
}

main>div{display: block;}

.blog-row{
  width: 800px;
}

.item{
  position: relative;
  margin: 50px 10px;
  padding: 50px;
  background-color: white;
  box-shadow: 10px 10px 5px #888888;
}

#dino{
  background-image: url("../img/dino.jpg");
}

#xx{
  background-image: url("../img/xx.png");
}

#yhact-img{
  background-image: url("../img/yhact.jpg");
}

.auth-pic{
  background-image: url("../img/author.jpeg");
  height: 200px;
  width: 200px;
  border-radius: 100%;
  background-size: cover;
}

.meta{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  box-shadow: 0px 9px 17px -3px #888888;
}

.blog-img{
  float: right;
  background-size: 200px 200px;
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;

}

.icon-wrapper{
  display: block;
  position: absolute;
  top: 50px;
  right: 0;
  left: 0;
  height: 50px;
  width: 50px;
  line-height: 50px;
  vertical-align: middle;
  text-align: center;
  -moz-border-radius: 30px;
  border-radius: 30px;
  margin: 0 auto;
  background-color: #eeeadf;
  color: white;
  text-align: center;
  font-size: 1em;
  /*margin-left: 160px;*/
  z-index: 3
}

/*.meta{
  display: flex;
  position: absolute;
  z-index: 3
}

.date{
  padding: 0 50px
}*/

.entry-title{
  font-weight: bold;
  font-size: 20px;
  padding-top: 36px;
  font-family: "Josefin Sans"
}

.aside-heading{
  font-family: "Josefin Sans";
  padding-top: 40px;
  font-size: 30px;
  border-bottom-width: 3px;
  border-bottom-color: black;
  border-bottom-style: solid;
  padding-bottom: 56px;
  width: 398px;
  text-align: center;
}



.primary-txt{
  line-height: 30px;
  font-size: 20px;
  font-family: "Noto Serif"
}

aside {
  display: flex;
  flex-direction: column;
  background-color: #F0EBDE;
  position: relative;
  margin: 50px 50px;
  padding: 50px;
  box-shadow: 10px 10px 5px #888888;
  align-items: center;
  width: 364px;

}



footer{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
